<dom-module id="test-element">
  <template>
    <style>
paper-button{
  color:blue;
}
    </style>
    <div class="layout vertical center center-justified">
    <div>status : {{status}}</div>
    <paper-button raised on-tap="increment">Click Me</paper-button>
    You've pressed the button [[counter]] times.
    <iron-icon icon="favorite"></iron-icon>
    <img src="a.png" height="40" width="40"> file location imports/ui/components/a.png
  </template>
</dom-module>
<script src="test-element.js"></script>
